[build]
  command = "npm install"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/send-email"
  to = "/.netlify/functions/send-email"
  status = 200
